{% extends 'base.html.twig' %}

{% block title %}MEETWE{% endblock %}

{% block body %}
    {% if app.user %}
        <script>
            $(function () {

                let textRate = "<div class='alert alert-dismissible alert-info'>\n" +
                    "  <button type='button' class='close' data-dismiss='alert'>&times;</button>\n" +
                    "  <h4 class='alert-heading'><i class=\"far fa-smile-wink\"></i></h4>\n" +
                    "  <p class='mb-0'><a href='/register' class='alert-link'>Merci d'avoir participez, votre vote à bien été pris en compte</p>\n" +
                    "</div>";

                let textNoRate = "<div class='alert alert-dismissible alert-danger'>\n" +
                    "  <button type='button' class='close' data-dismiss='alert'>&times;</button>\n" +
                    "  <h4 class='alert-heading'><i class=\"far fa-sad-tear\"></i></h4>\n" +
                    "  <p class='mb-0'><a href='/register' class='alert-link'>Une erreur est surevenu </p>\n" +
                    "</div>";


                $(".fa-star").on('click',function () {

                    let firstTd     = $( this ).parents("tr").find("td:first-child");
                    let iConf       = firstTd.find("#idconf").val();
                    let elem        = $(this).parent();

                    $('.notif').html(textRate);

                    $.ajax({
                        method: "POST",
                        url: "http://127.0.0.1:8082/ajax/setnote",
                        dataType : 'html',
                        data: {
                            note: this.classList[3],
                            idconf: iConf
                        },
                        success: function(response){
                            let nbrStars = (response-1);
                            elem.find('i:not(i:gt('+nbrStars+'))').toggleClass('gold');
                        },
                        error : function(){
                            $('.notif').html(textNoRate);
                        }
                    });
                })
            });
        </script>
    {% else %}
        <script>
            $(function () {
                let text = "<div class='alert alert-dismissible alert-warning'>\n" +
                    "  <button type='button' class='close' data-dismiss='alert'>&times;</button>\n" +
                    "  <h4 class='alert-heading'><i class=\"far fa-sad-tear\"></i></h4>\n" +
                    "  <p class='mb-0'><a href='/register' class='alert-link'>Inscrivez-vous</a> et participez aux votes</p>\n" +
                    "</div>";

                $(".fa-star").on('click',function () {
                    $('.notif').html(text);
                });

                $('.close').on('click',function () {
                    alert();
                });
            });
        </script>
    {% endif %}
    <div class="notif jumbotron jumbotron-fluid">

    </div>
    <div class="container ">
        <h1>Conferences non notées</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="newConf page-link" href="{{ path('conference_new', {slug: 0}) }}" alt="Nouvelle conférence">NEW<i class="fas fa-plus-circle fa-4x"></i><a/>
        {% endif %}

        <div class="col-md-2 col-md-offset-5">
            <ul class="pagination">
                {% for i in 1..maxPages %}
                    <li class="page-item active">
                        <a class="page-link" href="{{ path('conference_index', {page: i}) }}">{{ i }}</a>
                    </li>&nbsp;
                {% endfor %}
            </ul>
        </div>
        {% if message is defined %}
            <span class="alert-danger"> {% dump(message)%} </span>
        {% endif %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-secondary">Titre</th>
                    <th class="text-secondary"> Publié le</th>
                    <th class="text-secondary">Description</th>
                </tr>
            </thead>
            <tbody>
            {% for conference in conferences %}
                <tr class="table-primary">
                    <td>
                        {{ conference.title[:15] }}
                        <input type="hidden" value="{{ conference.id }}" id="idconf" >
                    </td>
                    <td>{{ conference.publishDate ? conference.publishDate|date('Y-m-d à H:i') : '' }}</td>
                    <td><a href="{{ path('conference_show', {'id': conference.id}) }}">{{ conference.content ? conference.content[:100] : '' }}</a></td>
                    <td>
                        <div class="rating">
                            <div class="stars">
                                <i class="fa fa-star fa-xs one"></i>
                                <i class="fa fa-star fa-xs two"></i>
                                <i class="fa fa-star fa-xs three"></i>
                                <i class="fa fa-star fa-xs four"></i>
                                <i class="fa fa-star fa-xs five"></i>
                            </div>
                            <a href="{{ path('conference_show', {'id': conference.id}) }}">Voir les avis</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="col-md-2 col-md-offset-5">
            <ul class="pagination">
                {% for i in 1..maxPages %}
                    <li class="page-item active">
                        <a class="page-link" href="{{ path('conference_index', {page: i}) }}">{{ i }}</a>
                    </li>&nbsp;
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}