{% extends 'base.html.twig' %}

{% block title %}Top 10 des Conferences{% endblock %}

{% block body %}
    <div class="notif jumbotron jumbotron-fluid">
        <h1>Top 10 des Conferences</h1>
    </div>
    <div class="jumbotron">

        <div class="container">
            <ul class="list-group">
                {% if toptens is defined %}
                    {% for topten in toptens %}
                        {% if topten is iterable %}
                            <a href="{{ path('conference_show', { id:topten.confid }) }}">
                                <li class="list-group-item d-flex justify-content-between align-items-center page-blank ">
                                    {{ topten.title }}
                                    <span class="badge badge-primary badge-pill bg-success"><elem class="badge-light">{{ topten.nbrvote }} <i class="fas fa-quote-right fa-xs "></i></elem> &nbsp;&nbsp; {{ topten.moyen }}<i class="fas fa-star fa-xs"></i></span>
                                </li>
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="alert-secondary" colspan="5">no conferences found</span>
                    {% endfor %}
                {% endif %}
            </ul>
        <a href="{{ path('conference_index') }}">Retour aux conferences</a>
    </div>
{% endblock %}