{% extends 'base.html.twig' %}

{% block title %}Utilisateur MEETWE{% endblock %}

{% block body %}
    <h1>User</h1>
    {% if user is iterable %}
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Userfirstname</th>
                    <td>{{ user.userfirstname }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ user.password }}</td>
                </tr>
                <tr>
                    <th>Mail</th>
                    <td>{{ user.mail }}</td>
                </tr>
                <tr>
                    <th>ResetToken</th>
                    <td>{{ user.resetToken }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endif %}

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
